header nav ui li {
  cursor: pointer;
  position: relative;
}

header nav ui li a::after {
  content: "";
  height: 3px;
  position: absolute;
  background-color: #000000;
  width: 0%;
  left: 0;
  bottom: 0;
  transition: all ease-in 200ms;
}

header nav ui li a:hover::after {
  width: 100%;
}
